@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-blue: #82ddf0;
  --med-blue: #5296a5;
  --dark-sand: #f6c28b;
  --light-sand: #fcd7ad;
  --brown: #a57548;
}

/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */
